.box{
    width: 133px;
    height: 133px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.text{
    font-family: sans-serif;
    font-size: 80px;
}

.X{
    color: #b3aca2;
}

.O{
    color: #eadfb9
}

.bottom {
    border-bottom: 9px solid rgb(95, 242, 227);
    transition-delay: 1s;
}

.right {
    border-right: 9px solid rgb(95, 242, 227);
}